@charset "UTF-8";
* {
  box-sizing: border-box;
}

/* LOGO */
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap") format("truetype");
  font-family: "Montserrat", sans-serif;
}
/* FONTS */
@font-face {
  src: url("assets/fonts/sitka-small-652.ttf") format("woff2");
  font-family: "sitka";
  font-weight: normal;
  /* 👈 Variation spécifiée */
}
@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("assets/fonts/segoe-ui-4-cufonfonts-webfont/Segoe UI.woff") format("woff");
}
@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"), url("assets/fonts/segoe-ui-4-cufonfonts-webfont/Segoe UI Italic.woff") format("woff");
}
@font-face {
  src: url("assets/fonts/gabriola-font/Gabriola.ttf") format("woff2");
  font-family: "gabriola";
}
@font-face {
  src: url("assets/fonts/mabella/Mabella.woff2") format("woff2"), url("assets/fonts/mabella/Mabella.woff") format("woff"); /* Fallback, WOFF format */
  font-family: "mabella";
}
/* VARIABLES */
:root {
  --Header: "sitka";
  --Text: "sitka";
  --text: "Lora", serif;
  --Black: #000000;
  --White: #ffffff;
  --Background: #F4F2F5;
  --Primary: #58A58F;
  --Secondary: #9C7B7B;
  --Beige: #E9E8E2;
  --Grey: #272727;
}

/* START OF CSS */
.index_page {
  background-color: var(--Background);
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  transition: background-color 0.4s ease-in-out;
}

#cursorID {
  position: absolute;
  z-index: 1;
  filter: url("#goo");
  transform-origin: center;
}
#cursorID .blob {
  position: absolute;
  margin: -15px 0 0 -15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: var(--Black);
  top: 50%;
  left: 50%;
  pointer-events: none;
}
#cursorID .blob :hover {
  background-color: #a1c4fd;
  cursor: pointer;
  mix-blend-mode: difference;
  width: 20px;
  height: 20px;
}

#title {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  font-family: "Montserrat", sans-serif;
  transition: background-color border-color ease;
  transition-duration: 0.5s;
  font-weight: 700;
  font-size: x-large;
  color: black;
  text-decoration: none;
  text-align: center;
}

#title:hover {
  opacity: 50%;
  transition-duration: 0.5s;
}

.sidebar {
  position: fixed;
  right: 0;
  bottom: 50%;
  text-align: end;
}

.sidebar_obj {
  color: var(--Black);
  font-family: "mabella";
  text-transform: capitalize;
  letter-spacing: 0.2vw;
  text-decoration: none;
  transition-duration: 0.5s;
  line-height: 6.3vh;
  font-size: 3vw;
}

.sidebar_obj:hover {
  color: var(--Black);
  opacity: 50%;
  transition-duration: 0.5s;
}

.index__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 10vh;
  font-family: mabella;
  line-height: 10vh;
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.132);
  color: var(--Black);
  text-decoration: none;
  transition-duration: 1.2s;
}
.index__hero .new__hero {
  opacity: 0.19;
}

.index__hero:hover {
  background-image: url(assets/png/ernest-karchmit-UAbg0py6GYQ-unsplash.jpg);
  background-position: center;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  animation: hero-title-animation 0.3s infinite;
  background-size: 300vh;
  font-size: 11vh;
  transition-duration: 0.6s;
}

.retour {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  font-family: mabella;
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.132);
  color: var(--Black);
  text-decoration: none;
  transition-duration: 1.2s;
}
.retour .new__hero {
  opacity: 0.19;
}

.retour:hover {
  background-image: url(assets/png/ernest-karchmit-UAbg0py6GYQ-unsplash.jpg);
  background-position: center;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  animation: hero-title-animation 0.3s infinite;
  background-size: 300vh;
  transition-duration: 0.6s;
}

.about {
  flex-direction: column;
  margin-bottom: 50px;
  padding-bottom: 2vw;
  background-color: #e9e9e9;
  border-radius: 30px;
  margin: 15vh 10px 10px 10px;
}

.about__inside {
  padding: 3vh;
}

.about__background {
  background-image: url(assets/png/ernest-karchmit-UAbg0py6GYQ-unsplash.jpg);
  background-position: center;
  background-repeat: repeat;
  animation: hero-title-animation 0.2s infinite;
  background-size: 300vh;
}

.num {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 0px;
}

.boite {
  padding: 1vh;
  width: 300px;
  height: 300px;
  display: inline-block;
  border-style: solid;
  border-left: rgb(0, 0, 0);
  border-bottom: rgb(0, 0, 0);
  border-top: rgb(0, 0, 0);
  transition: 0.5s;
}

.boite:hover {
  background-color: var(--Grey);
  color: var(--Beige);
  width: 300px;
  height: 300px;
  transition: 0.8s;
}

.box__txt {
  height: 250px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.box__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.new__hero__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: montserrat;
  font-size: 1.3vw;
}

.main-hero {
  background-repeat: no-repeat;
  background-size: cover;
}

#foot {
  transition: background-color border-color ease;
  transition-duration: 0.5s;
  color: black;
  text-decoration: none;
}

.storm {
  height: 70%;
}

#foot:hover {
  opacity: 70%;
  transition-duration: 0.5s;
}

.menu-hover-image {
  position: relative;
  width: 56rem;
  margin-bottom: 6vh;
  font-family: Lora, serif;
  list-style-type: none;
}
.menu-hover-image .cursor {
  position: absolute;
  top: -50%;
  left: -25%;
  z-index: -1;
  width: 600px;
  height: 400px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}
.menu-hover-image .menu-item {
  font-family: "mabella";
}
.menu-hover-image .menu-item:nth-child(1):hover ~ .cursor {
  background-image: url("assets/png/il_thumbnail.png");
}
.menu-hover-image .menu-item:nth-child(2):hover ~ .cursor {
  background-image: url("assets/png/deluge_thumbnail.jpg");
}
.menu-hover-image .menu-item:nth-child(3):hover ~ .cursor {
  background-image: url("assets/png/cdi_thumbnail.png");
}
.menu-hover-image .menu-item:nth-child(4):hover ~ .cursor {
  background-image: url("assets/png/maniac_thumbnail.png");
}
.menu-hover-image .menu-item:nth-child(5):hover ~ .cursor {
  background-image: url("assets/png/this_could_be_us-JzK_remix.png");
}
.menu-hover-image .menu-item:nth-child(6):hover ~ .cursor {
  background-image: url("assets/png/you_and_me_thumbnail.png");
}
.menu-hover-image .menu-item:nth-child(7):hover ~ .cursor {
  background-image: url("assets/png/graphisme_popup.png");
}
.menu-hover-image .menu-item:nth-child(8):hover ~ .cursor {
  background-image: url("assets/categories/design_graphique/partie-echec/j12.png");
}
.menu-hover-image .menu-item:nth-child(9):hover ~ .cursor {
  background-image: url("assets/png/cielo_thumbnail.png");
}
.menu-hover-image .menu-item:nth-child(10):hover ~ .cursor {
  background-image: url("assets/png/storm_thumbnail.png");
}
.menu-hover-image .menu-item:nth-child(11):hover ~ .cursor {
  background-image: url("assets/png/anomalie_thumbnail.png");
}
.menu-hover-image .menu-item:nth-child(12):hover ~ .cursor {
  background-image: url("assets/png/edria_night_exterior.png");
}
.menu-hover-image .menu-item .title {
  border-bottom: none;
  font-family: "montserrat";
}
.menu-hover-image .menu-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: white;
  mix-blend-mode: difference;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transform: translate3d(0, 0, 0);
}
.menu-hover-image .menu-item ul {
  text-decoration: none;
}

.menu-link {
  margin-top: 1vh;
}

.menu-sous-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  mix-blend-mode: difference;
  transform: translate3d(0, 0, 0);
}

.vid__pictures {
  max-width: 45%;
  margin: 0.5vw;
}

.prize_winner {
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--White);
  opacity: 100%;
  border-style: solid;
  border-color: var(--Grey);
  border-width: 1px;
  border-radius: 12px;
}

audio::-webkit-media-controls-panel {
  background-color: var(--White);
}

audio::-webkit-media-controls-playhead {
  background-color: #B1D4E0;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.sp-txt {
  font-family: "Segoe UI Italic";
  font-weight: bold;
}

.main__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button2 {
  height: 100vh;
  background-color: var(--Primary);
  transition-duration: 0.5s;
}

.button2:hover {
  height: 100vh;
  width: 80vw;
  background-color: var(--Primary);
  transition-duration: 0.5s;
}

h1 {
  font-family: mabella;
}

.menu__text {
  color: white;
  font-family: mabella;
  font-size: 15vh;
  line-height: 23vh;
}

.background__text {
  position: absolute;
}

.txt1 {
  opacity: 0.05;
}

.txt2 {
  opacity: 0.2;
}

.txt3 {
  opacity: 0.5;
}

.txt4 {
  opacity: 1;
}

.menu__title {
  font-size: 20vh;
}

.menu__headsup {
  text-transform: capitalize;
  color: var(--White);
  font-family: mabella;
}

.button2 .row {
  margin: 2vw 2vw 2vw 2vw;
}

.menu__title {
  line-height: 20vh;
}

.menu__description {
  line-height: 3vh;
  font-size: 5vh;
}

.text__description {
  max-width: 30%;
  display: inline-flex;
  margin-right: 3vw;
  margin-bottom: 0px;
  flex-wrap: wrap;
  align-content: center;
}

.list {
  max-width: 30%;
  display: inline-flex;
  margin-right: 3vw;
  margin-bottom: 0px;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

.list__description {
  display: inline-flex;
}

.img__description {
  border-radius: 10px;
  max-width: 59%;
  flex-wrap: wrap;
}

.img__list {
  max-width: 60%;
  display: flex;
  justify-items: center;
  border-radius: 10px;
}

/*STYLE Popup Grid*/
.image__portfolio {
  max-width: 80vw;
}

/*STYLE Popup Grid*/
.grid {
  display: grid;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.popup-1 .grid {
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.popup-2 .grid {
  grid-template-columns: 1fr 1fr 1fr;
}

/*STYLE SHOWCASE DESIGN GRAPHIQUE*/
.hero {
  height: 65vh;
}

.showcase__graphisme {
  margin-bottom: 20vh;
  transition-duration: 0.5s;
}

.showcase__graphisme:hover {
  transform: scale(101%);
  transition-duration: 0.5s;
}

#myVideo {
  width: 100%;
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
}

#portait-video {
  height: 100vh;
}

.titre__section {
  margin-top: 10vh;
  margin-bottom: 0;
  font-size: 5vh;
  font-family: "gabriola";
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5vw;
}

.titre__oeuvre {
  font-size: 20vw;
  font-family: "mabella";
  text-align: center;
  margin-top: -10%;
  letter-spacing: 0.5vw;
  background-image: url(assets/png/ernest-karchmit-UAbg0py6GYQ-unsplash.jpg);
  background-position: center;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  animation: hero-title-animation 0.3s infinite;
  background-size: 300vh;
}

.txt__oeuvres {
  font-size: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10vh;
}

@keyframes hero-title-animation {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -5%;
  }
  20% {
    background-position: -100% 5%;
  }
  30% {
    background-position: 100% -10%;
  }
  40% {
    background-position: -45% 15%;
  }
  50% {
    background-position: -50% 5%;
  }
  60% {
    background-position: 15% 0%;
  }
  70% {
    background-position: 0% 10%;
  }
  80% {
    background-position: -100% 50%;
  }
  90% {
    background-position: 10% 5%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.tache {
  position: fixed;
  left: 0;
  bottom: 50%;
  text-align: start;
  margin-left: 10px;
  letter-spacing: 0.2vw;
  animation: vanish 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(let(--scroll) * -1s);
}

@keyframes vanish {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.incitator__txt {
  margin: 0;
  line-height: 25px;
  animation: bounce 2s infinite alternate;
  animation-delay: 0;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--Black);
  font-family: "mabella";
  transition-duration: 0.5s;
}

.link:hover {
  color: var(--Black);
  opacity: 50%;
  transition-duration: 0.5s;
}

.hidden__image {
  display: none;
  opacity: 0%;
}

.link2 {
  text-decoration: none;
  color: var(--Black);
  transition-duration: 0.2s;
  font-weight: 1200;
  background-color: #fff761;
}

.link2:hover {
  color: var(--Black);
  transition-duration: 0.2s;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 0px 10px;
}
.link2:hover .hidden__image {
  display: block;
  opacity: 100%;
  position: absolute;
  max-width: 500px;
  right: 2vw;
  z-index: 1;
  transition-duration: 0.5s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
div .modal-body {
  padding-top: 0;
}

.title-modal {
  font-size: 10vh;
  font-family: mabella;
  line-height: 1;
}

.txt-modal {
  font-family: Segoe UI Regular;
}

.btn-close {
  margin: 1vh;
  transition-duration: 0.5s;
}

.footer {
  font-family: mabella;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__txt {
  font-family: mabella;
  line-height: 14vw;
  text-align: center;
  scroll-margin-block-end: 0;
}

.travaillons {
  font-size: 12vw;
  width: 70%;
  text-shadow: 7px 7px 10px #f1f1f1;
}

.ensemble {
  font-size: 20vw;
  line-height: 3vh;
  margin: 0;
  text-shadow: 7px 7px 10px #f1f1f1;
}

.footer2 {
  display: flex;
  justify-content: space-between;
  margin: 2vw 10vw 2vw 10vw;
}

.copyright {
  margin: 0;
}

.icons {
  width: 5vw;
}

.icons:hover {
  opacity: 0.6;
  transition-duration: 0.5s;
}

@media screen and (max-width: 1440px) {
  .sidebar {
    display: none;
  }
  p.tache {
    bottom: 34%;
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
  }
  .audio {
    width: 100%;
  }
  .text__description {
    max-width: 100%;
    display: block;
    margin-right: 3vw;
  }
  .list__description {
    display: block;
  }
  .img__description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 59%;
    margin-top: 2vh;
  }
}
@media screen and (max-width: 1850px) {
  .sidebar {
    display: none;
  }
  p.tache {
    bottom: 34%;
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
  }
}/*# sourceMappingURL=style.css.map */